#title {
    font-family: 'Roboto Mono', monospace;
}
/*paleta de cores*/
#black {
    background-color: black;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#color-palette {
    width: 200px;
    height: 50px;
    border: 1px solid black;
}
.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}
/*pixel board*/
#pixel-board {
    width: 250px;
    height: 250px;
    margin-top: 15px;
}
.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    float: left;
}