/*paleta*/
#color-palette{
    width: 265px;
    height: 70px;
    border: solid black;
    
}

/*caixa das cores*/
.color {
    width: 50px;
    height: 50px;
    border: solid black;
    float: left;
    margin: 5px;
}
#black {
    background-color: black;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}


