/*paleta*/
#color-palette{
    width: 205px;
    height: 50px;
}
/*caixa das cores*/
.color {
    width: 40px;
    height: 40px;
    border: solid black 1px;
    float: left;
    margin-right: 5px;
  
}
/*cores da paleta*/
#black {
    background-color: black;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
/**/
#pixel-board {
    width: 210px;
    height: 210px;
    border: solid black 1px;
    margin-top: 10px;
    float: left;

}


.pixel {
    width: 40px;
    height: 40px;
    border: solid black 1px;
    background-color: white;
    float: left;
}
